
@font-face {
    font-family: 'Bebas Neue Bold';
    src: url('BebasNeueBold.woff2') format('woff2'),
         url('BebasNeueBold.woff') format('woff'),
         url('BebasNeueBold.eot') format('eot'),
         url('BebasNeueBold.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue Thin';
    src: url('BebasNeueThin.woff2') format('woff2'),
         url('BebasNeueThin.woff') format('woff'),
         url('BebasNeueThin.eot') format('eot'),
         url('BebasNeueThin.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue Book';
    src: url('BebasNeueBook.woff2') format('woff2'),
         url('BebasNeueBook.woff') format('woff'),
         url('BebasNeueBook.eot') format('eot'),
         url('BebasNeueBook.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}